.idea
shell
install
ENV
env
/.env
get-pip.py
mysqlclient-1.4.6-cp37-cp37m-win32.whl
/cargobids/mysqlclient-1.4.2-cp36-cp36m-win32.whl
/cargobids/mysqlclient-1.4.6-cp38-cp36-win32.whl
/cargobids/profiles/migrations/*
/cargobids/memberships/migrations/*
/cargobids/airports/migrations/*

!/cargobids/profiles/migrations/__init__.py
!/cargobids/airports/migrations/__init__.py
!/cargobids/memberships/migrations/__init__.py
/node_modules/
node_modules/
dist/
yarn.lock
package-lock.json
.env
staticfiles/