[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework-datatables = "==0.5.1"
django-cors-headers = "==3.2.1"
python-dotenv = "==0.10.5"
python-dateutil = "*"
stripe = "==2.43.0"
django-filters = "*"
django-filter = "==2.2.0"
python-decouple = "==3.3"
django-post-office = "*"
django-notifications-hq = "==1.6.0"
asgiref = "==3.2.3"
certifi = "==2019.11.28"
chardet = "==3.0.4"
djangorestframework = "==3.11.0"
idna = "==2.9"
psycopg2-binary = "==2.8.4"
pytz = "==2019.3"
requests = "==2.23.0"
sqlparse = "==0.3.0"
urllib3 = "==1.25.8"
Django = "==3.0.2"
pusher = "==3.0.0"
django-rest-knox = "==4.1.0"
simplejson = "==3.17.2"

[requires]
python_version = "*"
