REACT_APP_API_URL=http://localhost:8000
REACT_APP_URL_USER=http://localhost:3000
REACT_APP_URL_ADMIN=http://localhost:3001
REACT_APP_AUTH_TOKEN=cargobid-auth

REACT_APP_STRIPE_KEY=

STRIPE_BASIC_PLAN_ID = 
STRIPE_PREMIUM_PLAN_ID = 

### expiry token with minutes should be 2min or more
EXPIRY_TOKEN=30

### Pusher SETTINGS
PUSHER_KEY=
CLUSTER=